[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# 유니티 빌트인 설정
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# OS 별 무시 파일
.DS_Store
Thumbs.db

# 기타
.vscode/
.fake


## 라이브러리들
Assets/2D Casual UI/*

Assets/TextMesh Pro/*